.git.diff
Makefile.in
Makefile
*.[oa]
config.*
libtool
configure
tags
config/*
!config/config.h.in
autom4te.cache
.deps/
.libs/
out/
*/out/
*.bak
*~
*.log
*.aux
*.dvi
*.bbl
*.blg
*.toc
*.swp
*.pyc
*.crs
*.dat
*.mm
*.rhs
*.png
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
doc/*/out/
*.trace
project/spe_prec
project/hypre
tools/check_memory/check_memory
project/fading/*.bin
project/fading/*.txt
project/cur_run.sh
project/log4cxx.properties
project/results
project/convert
